import { Player } from "src/player/entities/player.entity"
import { User } from "src/user/user.entity"
import {createUsersTable1679933977703} from "../migrations/1679933977703-create_users_table"


export const dbProperties: any = ({
    type: 'mysql',
    host: 'localhost',
    port: 3306,
    username: 'root',
    password: '',
    database: 'test',
    synchronize: false,
    logging: false,
    migrations:[createUsersTable1679933977703],
    entities: [User, Player],
    subscribers:[],

})