<app-header></app-header>
<h1 class="text-center mt-4">Liste d'alcoolos</h1>
<div class="container text-center mt-4">
  <div class="w-30">
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/player/create']"
    >
      Add alcoolo
    </button>
  </div>
  <div class="d-flex row justify-content-around">
    <div *ngFor="let player of playerList" class="col m4 s6" (click)="onSelectPlayer(player)">
      <!-- Font | Optional-->
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700"
      />
      <!-- Wrapper | For this page - !!ignore-->

      <!-- Card bootstrap -->
      <div class="card" style="width: 18rem;">
        <div class="card-image">
          <img [src]="player.image" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{player.name}}</h5>
          <p class="card-text">{{player.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Âge: {{player.age }}</li>
          <li class="list-group-item">Nationalité: {{player.nationality}}</li>
          <li class="list-group-item">Poste: {{player.poste}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    
  </div>
 
</div>

<app-footer></app-footer>
